<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= simple_form_for(@cocktail) do |f| %>
          <div class="form-group">
            <%= f.input :name, class: 'form-control' %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit class: 'btn btn-primary' %>
        <% end %>
          </div>

        <div class="cocktail-container">
        <%= link_to cocktails_path do %>
               <p> <i class="fas fa-home"></i></p>
              <% end %>
        </div>
    </div>
  </div>
</div>
