<div class="container">

  <%= simple_form_for(@cocktail) do |f| %>
    <div class="form-group">
      <%= f.input :name, class: 'form-control' %>
    </div>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>


   <!--  <div class="form-group">
      <#%= f.label "Ingredient" %>
      <#%= f.association :ingredients %>
    </div> -->

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

  <%= link_to cocktails_path do %>
    <i class="fas fa-cocktail">back</i>
  <% end %>

</div>
