<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="cocktail-card-container">
        <div>image here</div>
        <div>
          <div>
            <h4><%= @cocktail.name %> Ingredients:</h4>

          </div>
          <div></div>
          <div></div>
        </div>
        <%= link_to cocktails_path do %>
          <i class="fas fa-home"></i>
        <% end %>
        <%#= link_to new_cocktail_dose_path(@cocktail) %>

        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
