<div class="cocktail-container">

  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="dose-text">
        <h1>New dose for <%= @cocktail.name %></h1>
            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <%= f.input :description %>
              <%= f.association :ingredient %>
              <%= f.submit class: 'btn btn-primary' %>
            <% end %>
       </div>
      </div>
    </div>
    <div class="card-split">

      <%= link_to cocktails_path(@cocktail) do %>
         <i class="fas fa-home"></i>
        <% end %>

      <%= link_to cocktail_path(@cocktail) do %>
        <i class="fas fa-glass-martini"></i>
        <% end %>
    </div>
  </div>
</div>

  <%#= form_for[@cocktail, @dose] do |f| %>
    <!-- <div class="form-group"> -->
      <%#= f.label :description %>
      <%#= f.text_field :description, class: 'form-control' %>
    <!-- </div> -->

    <!-- <div class="form-group">
      <%#= f.label "Ingredient" %>
      <%#= f.association :ingredients %>
    </div> -->

    <%#= f.submit class: 'btn btn-primary' %>
  <%# end %>

      <%#= link_to cocktail_path(@dose.cocktail) do %>
        <!-- <i class="fas fa-cocktail">back</i> -->
      <%# end %>
